.newspaper-container {
  width: 700px;
  border-radius: 2%;
  box-shadow: #ddd;
  padding: 1em;
  background-color: white;
}

h1 {
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-style: normal;
  font-size: 55px;
}

h2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 15px;
  font-style: normal;
}

.date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  font-style: normal;
}

h5 {
  color: #dd3232;
}

ul {
  border: 2px gray;
  border-style: solid none;
  text-align: left;
}

a:link,
a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0em -0.5em 0 0;
  padding: 0.5em;
  display: inline-block;
  font-size: medium;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}

li a {
  color: gray;
}

p {
  text-align: justify;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0;
  padding-bottom: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}

.more-articles section {
  display: inline-block;
  width: 44%;
  margin: 0 1em;
}

body {
  background-color: lightgray;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
}
